In [ ]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv('country.csv')
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

##  Country.csv dosyasının özelliği
Bu tablo, çeşitli ülkelerle ilgili bir dizi demografik, ekonomik ve coğrafi veriyi içermektedir. Tabloda her bir satır bir ülkeyi temsil ederken, sütunlar bu ülkelerle ilgili farklı özellikleri gösterir. İşte sütunların anlamları:

Country: Ülkenin adı.  
Region: Ülkenin bulunduğu bölge (örneğin, Asya, Doğu Avrupa).  
Population: Ülkenin toplam nüfusu.  
Area (sq. mi.): Ülkenin yüzölçümü (mil kare olarak).  
Pop. Density (per sq. mi.): Nüfus yoğunluğu (mil kare başına düşen kişi sayısı).  
Coastline (coast/area ratio): Sahil uzunluğunun, ülkenin toplam alanına oranı.  
Net migration: Net göç oranı (göçmenlerin ülkeye giren veya ülkeden çıkan kişi sayısına göre oranı).  
Infant mortality (per 1000 births): Bebek ölüm oranı (1000 doğum başına).  
GDP ($ per capita): Kişi başına düşen Gayri Safi Yurtiçi Hasıla (GSYİH).  
Literacy (%): Okur-yazarlık oranı.  
Phones (per 1000): Her 1000 kişi başına düşen telefon sayısı.  
Arable (%): Tarıma elverişli arazi yüzdesi.  
Crops (%): Ekilebilir ürünlerin yüzdesi.  
Other (%): Diğer arazi kullanımı yüzdesi.  
Climate: Ülkenin iklim kategorisi (numerik bir değer olarak gösterilmiş).  
Birthrate: Doğum oranı.  
Deathrate: Ölüm oranı.  
Agriculture: Tarım sektörünün ekonomideki payı.  
Industry: Sanayi sektörünün ekonomideki payı.  
Service: Hizmet sektörünün ekonomideki payı.

## Bu Dosyada Yapacağınız görevleri alt taraftan bakabilirsiniz.

## 1. Görev : Nüfusa Göre Azalan Sırada Sıralama:

In [1]:
import pandas as pd

# Excel dosyasını oku
data = pd.read_csv('country.csv')
data

# Nüfusa göre azalan sırada sırala
data_sorted = data.sort_values(by="Population", ascending=False).reset_index(drop=True)

for i, row in data_sorted.iterrows():
    print(f"{i+1}.{row["Country"]} - {row["Population"]}")

1.China  - 1313973713
2.India  - 1095351995
3.United States  - 298444215
4.Indonesia  - 245452739
5.Brazil  - 188078227
6.Pakistan  - 165803560
7.Bangladesh  - 147365352
8.Russia  - 142893540
9.Nigeria  - 131859731
10.Japan  - 127463611
11.Mexico  - 107449525
12.Philippines  - 89468677
13.Vietnam  - 84402966
14.Germany  - 82422299
15.Egypt  - 78887007
16.Ethiopia  - 74777981
17.Turkey  - 70413958
18.Iran  - 68688433
19.Thailand  - 64631595
20.Congo, Dem. Rep.  - 62660551
21.France  - 60876136
22.United Kingdom  - 60609153
23.Italy  - 58133509
24.Korea, South  - 48846823
25.Burma  - 47382633
26.Ukraine  - 46710816
27.South Africa  - 44187637
28.Colombia  - 43593035
29.Sudan  - 41236378
30.Spain  - 40397842
31.Argentina  - 39921833
32.Poland  - 38536869
33.Tanzania  - 37445392
34.Kenya  - 34707817
35.Morocco  - 33241259
36.Canada  - 33098932
37.Algeria  - 32930091
38.Afghanistan  - 31056997
39.Peru  - 28302603
40.Nepal  - 28287147
41.Uganda  - 28195754
42.Uzbekistan  - 27307134
43.Saudi Arabia  - 27019731
44.Iraq  - 26783383
45.Venezuela  - 25730435
46.Malaysia  - 24385858
47.Korea, North  - 23113019
48.Taiwan  - 23036087
49.Ghana  - 22409572
50.Romania  - 22303552
51.Yemen  - 21456188
52.Australia  - 20264082
53.Sri Lanka  - 20222240
54.Mozambique  - 19686505
55.Syria  - 18881361
56.Madagascar  - 18595469
57.Cote d'Ivoire  - 17654843
58.Cameroon  - 17340702
59.Netherlands  - 16491461
60.Chile  - 16134219
61.Kazakhstan  - 15233244
62.Burkina Faso  - 13902972
63.Cambodia  - 13881427
64.Ecuador  - 13547510
65.Malawi  - 13013926
66.Niger  - 12525094
67.Guatemala  - 12293545
68.Zimbabwe  - 12236805
69.Angola  - 12127071
70.Senegal  - 11987121
71.Mali  - 11716829
72.Zambia  - 11502010
73.Cuba  - 11382820
74.Greece  - 10688058
75.Portugal  - 10605870
76.Belgium  - 10379067
77.Belarus  - 10293011
78.Czech Republic  - 10235455
79.Tunisia  - 10175014
80.Hungary  - 9981334
81.Chad  - 9944201
82.Guinea  - 9690222
83.Serbia  - 9396411
84.Dominican Republic  - 9183984
85.Sweden  - 9016596
86.Bolivia  - 8989046
87.Somalia  - 8863338
88.Rwanda  - 8648248
89.Haiti  - 8308504
90.Austria  - 8192880
91.Burundi  - 8090068
92.Azerbaijan  - 7961619
93.Benin  - 7862944
94.Switzerland  - 7523934
95.Bulgaria  - 7385367
96.Honduras  - 7326496
97.Tajikistan  - 7320815
98.Hong Kong  - 6940432
99.El Salvador  - 6822378
100.Paraguay  - 6506464
101.Laos  - 6368481
102.Israel  - 6352117
103.Sierra Leone  - 6005250
104.Jordan  - 5906760
105.Libya  - 5900754
106.Papua New Guinea  - 5670544
107.Nicaragua  - 5570129
108.Togo  - 5548702
109.Denmark  - 5450661
110.Slovakia  - 5439448
111.Finland  - 5231372
112.Kyrgyzstan  - 5213898
113.Turkmenistan  - 5042920
114.Eritrea  - 4786994
115.Georgia  - 4661473
116.Norway  - 4610820
117.Bosnia & Herzegovina  - 4498976
118.Croatia  - 4494749
119.Singapore  - 4492150
120.Moldova  - 4466706
121.Central African Rep.  - 4303356
122.New Zealand  - 4076140
123.Costa Rica  - 4075261
124.Ireland  - 4062235
125.Puerto Rico  - 3927188
126.Lebanon  - 3874050
127.Congo, Repub. of the  - 3702314
128.Lithuania  - 3585906
129.Albania  - 3581655
130.Uruguay  - 3431932
131.Panama  - 3191319
132.Mauritania  - 3177388
133.Oman  - 3102229
134.Liberia  - 3042004
135.Armenia  - 2976372
136.Mongolia  - 2832224
137.Jamaica  - 2758124
138.United Arab Emirates  - 2602713
139.West Bank  - 2460492
140.Kuwait  - 2418393
141.Bhutan  - 2279723
142.Latvia  - 2274735
143.Macedonia  - 2050554
144.Namibia  - 2044147
145.Lesotho  - 2022331
146.Slovenia  - 2010347
147.Gambia, The  - 1641564
148.Botswana  - 1639833
149.Guinea-Bissau  - 1442029
150.Gaza Strip  - 1428757
151.Gabon  - 1424906
152.Estonia  - 1324333
153.Mauritius  - 1240827
154.Swaziland  - 1136334
155.Trinidad & Tobago  - 1065842
156.East Timor  - 1062777
157.Fiji  - 905949
158.Qatar  - 885359
159.Reunion  - 787584
160.Cyprus  - 784301
161.Guyana  - 767245
162.Bahrain  - 698585
163.Comoros  - 690948
164.Solomon Islands  - 552438
165.Equatorial Guinea  - 540109
166.Djibouti  - 486530
167.Luxembourg  - 474413
168.Macau  - 453125
169.Guadeloupe  - 452776
170.Suriname  - 439117
171.Martinique  - 436131
172.Cape Verde  - 420979
173.Malta  - 400214
174.Brunei  - 379444
175.Maldives  - 359008
176.Bahamas, The  - 303770
177.Iceland  - 299388
178.Belize  - 287730
179.Barbados  - 279912
180.French Polynesia  - 274578
181.Western Sahara  - 273008
182.Netherlands Antilles  - 221736
183.New Caledonia  - 219246
184.Vanuatu  - 208869
185.Mayotte  - 201234
186.French Guiana  - 199509
187.Sao Tome & Principe  - 193413
188.Samoa  - 176908
189.Guam  - 171019
190.Saint Lucia  - 168458
191.Saint Vincent and the Grenadines  - 117848
192.Tonga  - 114689
193.Virgin Islands  - 108605
194.Micronesia, Fed. St.  - 108004
195.Kiribati  - 105432
196.Jersey  - 91084
197.Grenada  - 89703
198.N. Mariana Islands  - 82459
199.Seychelles  - 81541
200.Isle of Man  - 75441
201.Aruba  - 71891
202.Andorra  - 71201
203.Antigua & Barbuda  - 69108
204.Dominica  - 68910
205.Bermuda  - 65773
206.Guernsey  - 65409
207.Marshall Islands  - 60422
208.American Samoa  - 57794
209.Greenland  - 56361
210.Faroe Islands  - 47246
211.Cayman Islands  - 45436
212.Saint Kitts & Nevis  - 39129
213.Liechtenstein  - 33987
214.Monaco  - 32543
215.San Marino  - 29251
216.Gibraltar  - 27928
217.British Virgin Is.  - 23098
218.Cook Islands  - 21388
219.Turks & Caicos Is  - 21152
220.Palau  - 20579
221.Wallis and Futuna  - 16025
222.Anguilla  - 13477
223.Nauru  - 13287
224.Tuvalu  - 11810
225.Montserrat  - 9439
226.Saint Helena  - 7502
227.St Pierre & Miquelon  - 7026

## 2. Görev: GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla).

In [2]:
# GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla). kodunu buradan yazınız.
import pandas as pd

data = pd.read_csv('country.csv')
data

data_sorted = data.sort_values(by="GDP ($ per capita)", ascending=True).reset_index(drop=True)

for i, row in data_sorted.iterrows():
    print(f"{i+1}. {row['Country']} - {row['GDP ($ per capita)']}")

1. East Timor  - 500.0
2. Sierra Leone  - 500.0
3. Somalia  - 500.0
4. Burundi  - 600.0
5. Malawi  - 600.0
6. Tanzania  - 600.0
7. Gaza Strip  - 600.0
8. Comoros  - 700.0
9. Congo, Dem. Rep.  - 700.0
10. Ethiopia  - 700.0
11. Afghanistan  - 700.0
12. Congo, Repub. of the  - 700.0
13. Eritrea  - 700.0
14. Madagascar  - 800.0
15. Guinea-Bissau  - 800.0
16. Kiribati  - 800.0
17. Niger  - 800.0
18. Yemen  - 800.0
19. West Bank  - 800.0
20. Zambia  - 800.0
21. Mali  - 900.0
22. Nigeria  - 900.0
23. Tajikistan  - 1000.0
24. Kenya  - 1000.0
25. Liberia  - 1000.0
26. Central African Rep.  - 1100.0
27. Burkina Faso  - 1100.0
28. Benin  - 1100.0
29. Tuvalu  - 1100.0
30. Sao Tome & Principe  - 1200.0
31. Chad  - 1200.0
32. Mozambique  - 1200.0
33. Djibouti  - 1300.0
34. Korea, North  - 1300.0
35. Rwanda  - 1300.0
36. Bhutan  - 1300.0
37. Uganda  - 1400.0
38. Nepal  - 1400.0
39. Cape Verde  - 1400.0
40. Cote d'Ivoire  - 1400.0
41. Iraq  - 1500.0
42. Togo  - 1500.0
43. Haiti  - 1600.0
44. Kyrgyzstan  - 1600.0
45. Marshall Islands  - 1600.0
46. Senegal  - 1600.0
47. Solomon Islands  - 1700.0
48. Uzbekistan  - 1700.0
49. Laos  - 1700.0
50. Gambia, The  - 1700.0
51. Mongolia  - 1800.0
52. Moldova  - 1800.0
53. Mauritania  - 1800.0
54. Burma  - 1800.0
55. Cameroon  - 1800.0
56. Sudan  - 1900.0
57. Cambodia  - 1900.0
58. Angola  - 1900.0
59. Zimbabwe  - 1900.0
60. Bangladesh  - 1900.0
61. Micronesia, Fed. St.  - 2000.0
62. Pakistan  - 2100.0
63. Guinea  - 2100.0
64. Ghana  - 2200.0
65. Serbia  - 2200.0
66. Papua New Guinea  - 2200.0
67. Tonga  - 2200.0
68. Nicaragua  - 2300.0
69. Bolivia  - 2400.0
70. Georgia  - 2500.0
71. Vietnam  - 2500.0
72. Saint Helena  - 2500.0
73. Honduras  - 2600.0
74. Mayotte  - 2600.0
75. Equatorial Guinea  - 2700.0
76. Cuba  - 2900.0
77. Vanuatu  - 2900.0
78. India  - 2900.0
79. Saint Vincent and the Grenadines  - 2900.0
80. Lesotho  - 3000.0
81. Indonesia  - 3200.0
82. Ecuador  - 3300.0
83. Syria  - 3300.0
84. Montserrat  - 3400.0
85. Azerbaijan  - 3400.0
86. Armenia  - 3500.0
87. Wallis and Futuna  - 3700.0
88. Sri Lanka  - 3700.0
89. Maldives  - 3900.0
90. Jamaica  - 3900.0
91. Egypt  - 4000.0
92. Guyana  - 4000.0
93. Morocco  - 4000.0
94. Suriname  - 4000.0
95. Guatemala  - 4100.0
96. Jordan  - 4300.0
97. Albania  - 4500.0
98. Philippines  - 4600.0
99. Paraguay  - 4700.0
100. Venezuela  - 4800.0
101. El Salvador  - 4800.0
102. Lebanon  - 4800.0
103. Belize  - 4900.0
104. Swaziland  - 4900.0
105. Nauru  - 5000.0
106. Grenada  - 5000.0
107. China  - 5000.0
108. Cook Islands  - 5000.0
109. Peru  - 5100.0
110. Dominica  - 5400.0
111. Ukraine  - 5400.0
112. Saint Lucia  - 5400.0
113. Gabon  - 5500.0
114. Samoa  - 5600.0
115. Turkmenistan  - 5800.0
116. Reunion  - 5800.0
117. Fiji  - 5800.0
118. Algeria  - 6000.0
119. Dominican Republic  - 6000.0
120. Bosnia & Herzegovina  - 6100.0
121. Belarus  - 6100.0
122. Panama  - 6300.0
123. Kazakhstan  - 6300.0
124. Colombia  - 6300.0
125. Libya  - 6400.0
126. Turkey  - 6700.0
127. Macedonia  - 6700.0
128. St Pierre & Miquelon  - 6900.0
129. Tunisia  - 6900.0
130. Iran  - 7000.0
131. Romania  - 7000.0
132. Namibia  - 7200.0
133. Thailand  - 7400.0
134. Brazil  - 7600.0
135. Bulgaria  - 7600.0
136. Seychelles  - 7800.0
137. American Samoa  - 8000.0
138. Guadeloupe  - 8000.0
139. French Guiana  - 8300.0
140. Anguilla  - 8600.0
141. Saint Kitts & Nevis  - 8800.0
142. Russia  - 8900.0
143. Mexico  - 9000.0
144. Palau  - 9000.0
145. Botswana  - 9000.0
146. Malaysia  - 9000.0
147. Costa Rica  - 9100.0
148. Trinidad & Tobago  - 9500.0
149. Turks & Caicos Is  - 9600.0
150. Chile  - 9900.0
151. Latvia  - 10200.0
152. Croatia  - 10600.0
153. South Africa  - 10700.0
154. Antigua & Barbuda  - 11000.0
155. Poland  - 11100.0
156. Argentina  - 11200.0
157. Mauritius  - 11400.0
158. Lithuania  - 11400.0
159. Netherlands Antilles  - 11400.0
160. Saudi Arabia  - 11800.0
161. Estonia  - 12300.0
162. N. Mariana Islands  - 12500.0
163. Uruguay  - 12800.0
164. Oman  - 13100.0
165. Slovakia  - 13300.0
166. Hungary  - 13900.0
167. Martinique  - 14400.0
168. New Caledonia  - 15000.0
169. Barbados  - 15700.0
170. Czech Republic  - 15700.0
171. British Virgin Is.  - 16000.0
172. Bahamas, The  - 16700.0
173. Puerto Rico  - 16800.0
174. Bahrain  - 16900.0
175. Virgin Islands  - 17200.0
176. French Polynesia  - 17500.0
177. Gibraltar  - 17500.0
178. Malta  - 17700.0
179. Korea, South  - 17800.0
180. Portugal  - 18000.0
181. Brunei  - 18600.0
182. Kuwait  - 19000.0
183. Andorra  - 19000.0
184. Slovenia  - 19000.0
185. Cyprus  - 19200.0
186. Macau  - 19400.0
187. Israel  - 19800.0
188. Greece  - 20000.0
189. Guernsey  - 20000.0
190. Greenland  - 20000.0
191. Isle of Man  - 21000.0
192. Guam  - 21000.0
193. Qatar  - 21500.0
194. New Zealand  - 21600.0
195. Spain  - 22000.0
196. Faroe Islands  - 22000.0
197. United Arab Emirates  - 23200.0
198. Taiwan  - 23400.0
199. Singapore  - 23700.0
200. Jersey  - 24800.0
201. Liechtenstein  - 25000.0
202. Italy  - 26700.0
203. Sweden  - 26800.0
204. Monaco  - 27000.0
205. Finland  - 27400.0
206. Germany  - 27600.0
207. France  - 27600.0
208. United Kingdom  - 27700.0
209. Aruba  - 28000.0
210. Japan  - 28200.0
211. Netherlands  - 28600.0
212. Hong Kong  - 28800.0
213. Australia  - 29000.0
214. Belgium  - 29100.0
215. Ireland  - 29600.0
216. Canada  - 29800.0
217. Austria  - 30000.0
218. Iceland  - 30900.0
219. Denmark  - 31100.0
220. Switzerland  - 32700.0
221. San Marino  - 34600.0
222. Cayman Islands  - 35000.0
223. Bermuda  - 36000.0
224. Norway  - 37800.0
225. United States  - 37800.0
226. Luxembourg  - 55100.0
227. Western Sahara  - nan

## 3. Görev: Population sütunu 10 milyonun üzerinde olan ülkeleri seçmek.

In [ ]:
# Kodunu buraya yazınız.
import pandas as pd


data = pd.read_csv('country.csv')
data

data_filtered=data[data["Population"]>10000000].reset_index(drop=True)
for i, row in data_filtered.iterrows():
    print(f"{i+1}. {row['Country']} - {row['Population']}")

1. Afghanistan  - 31056997
2. Algeria  - 32930091
3. Angola  - 12127071
4. Argentina  - 39921833
5. Australia  - 20264082
6. Bangladesh  - 147365352
7. Belarus  - 10293011
8. Belgium  - 10379067
9. Brazil  - 188078227
10. Burkina Faso  - 13902972
11. Burma  - 47382633
12. Cambodia  - 13881427
13. Cameroon  - 17340702
14. Canada  - 33098932
15. Chile  - 16134219
16. China  - 1313973713
17. Colombia  - 43593035
18. Congo, Dem. Rep.  - 62660551
19. Cote d'Ivoire  - 17654843
20. Cuba  - 11382820
21. Czech Republic  - 10235455
22. Ecuador  - 13547510
23. Egypt  - 78887007
24. Ethiopia  - 74777981
25. France  - 60876136
26. Germany  - 82422299
27. Ghana  - 22409572
28. Greece  - 10688058
29. Guatemala  - 12293545
30. India  - 1095351995
31. Indonesia  - 245452739
32. Iran  - 68688433
33. Iraq  - 26783383
34. Italy  - 58133509
35. Japan  - 127463611
36. Kazakhstan  - 15233244
37. Kenya  - 34707817
38. Korea, North  - 23113019
39. Korea, South  - 48846823
40. Madagascar  - 18595469
41. Malawi  - 13013926
42. Malaysia  - 24385858
43. Mali  - 11716829
44. Mexico  - 107449525
45. Morocco  - 33241259
46. Mozambique  - 19686505
47. Nepal  - 28287147
48. Netherlands  - 16491461
49. Niger  - 12525094
50. Nigeria  - 131859731
51. Pakistan  - 165803560
52. Peru  - 28302603
53. Philippines  - 89468677
54. Poland  - 38536869
55. Portugal  - 10605870
56. Romania  - 22303552
57. Russia  - 142893540
58. Saudi Arabia  - 27019731
59. Senegal  - 11987121
60. South Africa  - 44187637
61. Spain  - 40397842
62. Sri Lanka  - 20222240
63. Sudan  - 41236378
64. Syria  - 18881361
65. Taiwan  - 23036087
66. Tanzania  - 37445392
67. Thailand  - 64631595
68. Tunisia  - 10175014
69. Turkey  - 70413958
70. Uganda  - 28195754
71. Ukraine  - 46710816
72. United Kingdom  - 60609153
73. United States  - 298444215
74. Uzbekistan  - 27307134
75. Venezuela  - 25730435
76. Vietnam  - 84402966
77. Yemen  - 21456188
78. Zambia  - 11502010
79. Zimbabwe  - 12236805

## 4. Görev: Literacy (%) sütununa göre ülkeleri sıralayıp, en yüksek okur-yazarlık oranına sahip ilk 5 ülkeyi seçmek.

In [ ]:
# Kodunu buraya yazınız.
import pandas as pd

data = pd.read_csv("country.csv")  # Eğer Excel ise pd.read_excel("country.xlsx")
data

data_sorted = data.sort_values(by="Literacy (%)", ascending=False).reset_index(drop=True)


top5 = data_sorted.head(5)

# Terminalde yazdır
for i, row in top5.iterrows():
    print(f"{i+1}. {row['Country']} - {row['Literacy (%)']}%")

1. Czech Republic  - 99,9%
2. Iceland  - 99,9%
3. Poland  - 99,8%
4. Latvia  - 99,8%
5. Estonia  - 99,8%

## 5. Görev:  Kişi Başı GSYİH 10.000'in Üzerinde Olan Ülkeleri Filtreleme: GDP ( per capita) sütunu 10.000'in üzerinde olan ülkeleri seçmek.

In [ ]:
# Kodunu buraya yazınız.
import pandas as pd


data = pd.read_csv("country.csv") 
data
data_filtered = data[data["GDP ($ per capita)"]>10000].reset_index(drop=True)

for i, row in data_filtered.iterrows():
    print(f"{i+1}.{row["Country"]}-{row["GDP ($ per capita)"]}")

1.Andorra -19000.0
2.Antigua & Barbuda -11000.0
3.Argentina -11200.0
4.Aruba -28000.0
5.Australia -29000.0
6.Austria -30000.0
7.Bahamas, The -16700.0
8.Bahrain -16900.0
9.Barbados -15700.0
10.Belgium -29100.0
11.Bermuda -36000.0
12.British Virgin Is. -16000.0
13.Brunei -18600.0
14.Canada -29800.0
15.Cayman Islands -35000.0
16.Croatia -10600.0
17.Cyprus -19200.0
18.Czech Republic -15700.0
19.Denmark -31100.0
20.Estonia -12300.0
21.Faroe Islands -22000.0
22.Finland -27400.0
23.France -27600.0
24.French Polynesia -17500.0
25.Germany -27600.0
26.Gibraltar -17500.0
27.Greece -20000.0
28.Greenland -20000.0
29.Guam -21000.0
30.Guernsey -20000.0
31.Hong Kong -28800.0
32.Hungary -13900.0
33.Iceland -30900.0
34.Ireland -29600.0
35.Isle of Man -21000.0
36.Israel -19800.0
37.Italy -26700.0
38.Japan -28200.0
39.Jersey -24800.0
40.Korea, South -17800.0
41.Kuwait -19000.0
42.Latvia -10200.0
43.Liechtenstein -25000.0
44.Lithuania -11400.0
45.Luxembourg -55100.0
46.Macau -19400.0
47.Malta -17700.0
48.Martinique -14400.0
49.Mauritius -11400.0
50.Monaco -27000.0
51.Netherlands -28600.0
52.Netherlands Antilles -11400.0
53.New Caledonia -15000.0
54.New Zealand -21600.0
55.N. Mariana Islands -12500.0
56.Norway -37800.0
57.Oman -13100.0
58.Poland -11100.0
59.Portugal -18000.0
60.Puerto Rico -16800.0
61.Qatar -21500.0
62.San Marino -34600.0
63.Saudi Arabia -11800.0
64.Singapore -23700.0
65.Slovakia -13300.0
66.Slovenia -19000.0
67.South Africa -10700.0
68.Spain -22000.0
69.Sweden -26800.0
70.Switzerland -32700.0
71.Taiwan -23400.0
72.United Arab Emirates -23200.0
73.United Kingdom -27700.0
74.United States -37800.0
75.Uruguay -12800.0
76.Virgin Islands -17200.0

## Görev 6 : En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülkeyi Seçme:
Pop. Density (per sq. mi.) sütununa göre ülkeleri sıralayıp, en yüksek nüfus yoğunluğuna sahip ilk 10 ülkeyi seçmek.

In [ ]:
import pandas as pd
data = pd.read_csv('country.csv')
data


data_sorted = data.sort_values(by="Pop. Density (per sq. mi.)", ascending=False).reset_index(drop=True)
top10 = data_sorted.head(10)
for i,row in top10.iterrows():
    print(f"{i+1}.{row['Country']}-{row['Pop. Density (per sq. mi.)']}")

1.Armenia -99,9
2.Slovenia -99,2
3.Togo -97,7
4.Austria -97,7
5.Romania -93,9
6.Ghana -93,6
7.Montserrat -92,5
8.Azerbaijan -91,9
9.Dominica -91,4
10.Turkey -90,2